@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Roboto:ital@0;1&display=swap');

:root {
  --primary: #378fe7; /* or #378FE7, #19D2D1, #D21976 and #76D219*/
}

* {
  color-scheme: dark;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  font-size: clamp(4em, 7vmax, 6em);
  overflow: hidden;
}

.Settings {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-size: 0.6em;

  transform: scale(1.5);

  .css-1ptx2yq-MuiInputBase-root-MuiInput-root:after {
    border-bottom-color: var(--primary) !important;
  }

  * {
    color: white !important;
  }

  *::before {
    border-bottom-color: white !important;
  }
}

@mixin flexyCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Timers {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2vmax;

  @include flexyCenter();

  .Timer {
    @include flexyCenter();
    flex-direction: column;

    margin: 4.5vmax;

    .Time {
      font-family: 'Heebo', sans-serif;
      line-height: calc(1em + 1rem);
      text-shadow: 0 0 0.2em #283746e1;
    }

    .Minus {
      color: #5f79eb;
    }

    &.Finished {
      color: var(--primary);
    }

    .Btn {
      font-size: 0.2em;
    }

    svg {
      width: 1.2em;
      height: 1.2em;
    }
  }
}
